// profile config file 
// specific profiles can be defined in this file to utilize certain RUN WIDE parameters & settings
params {

    // define preset  parameters
    if (params.preset == "ACB") {
        busco_lin = 'pseudomonadales_odb10'
    }
    else if (params.preset == "EBC") {
        busco_lin = 'enterobacterales_odb10'
    }
    else if (params.preset == "NEG") {
        fastp_params = '--detect_adapter_for_pe -r 15'
        spades_params = '--careful'
        busco_lin = 'neisseriales_odb10'
    } 
    else if (params.preset == "NEI") {
        busco_lin = "neisseriales_odb10"
    }
    else if (params.preset == "MYT") {
        busco_lin = 'actinobacteria_class_odb10'
    } 
    else if (params.preset == "SAL") {
        busco_lin = 'enterobacterales_odb10'
    }
    else if (params.preset == "MRA") {
        busco_lin = 'bacillales_odb10'
        assembler: 'skesa'
    }
    else if (params.preset == "LIS") {
        busco_lin = 'bacilli_odb10'
    }
}




