// profile config file 
// specific profiles can be defined in this file to utilize certain RUN WIDE parameters & settings
params {

    // define preset  parameters
    if (params.preset == "ACB") {
    }
    if (params.preset == "CDF") {
    }
    else if (params.preset == "EBC") {
    }
    else if (params.preset == "NEG") {
        fastp_params = '--detect_adapter_for_pe -r 15'
        spades_params = '--careful'
    } 
    else if (params.preset == "NEI") {
    }
    else if (params.preset == "MYT") {
        assembler = 'skesa'
    } 
    else if (params.preset == "SAL") {
    }
    else if (params.preset == "MRA") {
        assembler = 'skesa'
    }
    else if (params.preset == "LIS") {
    }
}