// profile config file 
// specific profiles can be defined in this file to utilize certain RUN WIDE parameters & settings
params {

    // define preset  parameters
    if (params.preset == "ACB") {
        busco_lin = 'acinetobacter_odb12'
    }
    if (params.preset == "CDF") {
        busco_lin = 'clostridiaceae_odb12'
    }
    else if (params.preset == "EBC") {
        busco_lin = 'enterobacteriaceae_odb12'
    }
    else if (params.preset == "NEG") {
        fastp_params = '--detect_adapter_for_pe -r 15'
        spades_params = '--careful'
        busco_lin = 'neisseria_odb12'
    } 
    else if (params.preset == "NEI") {
        busco_lin = "neisseria_odb12"
    }
    else if (params.preset == "MYT") {
        busco_lin = 'mycobacterium_odb12'
        assembler = 'skesa'
    } 
    else if (params.preset == "SAL") {
        busco_lin = 'enterobacteriaceae_odb12'
    }
    else if (params.preset == "MRA") {
        busco_lin = 'staphylococcus_odb12'
        assembler = 'skesa'
    }
    else if (params.preset == "LIS") {
        busco_lin = 'listeria_odb12'
    }
}




